#########################
#Random-No
#Copyright (c) 2022~Present Nakatai.
#This software is released under the MIT License.
#https://opensource.org/licenses/mit-license.php
#########################
.vscode/
node_modules/
